/* Fonts */

/* Lalezar  */
@import url('https://v1.fontapi.ir/css/Lalezar');
/* Lalezar */

/* Vazir */
@import url('https://v1.fontapi.ir/css/Vazir');
/* Vazir */

/* Sahel */
@import url('https://v1.fontapi.ir/css/Sahel');
/* Sahel */

/* Fonts */

body {
    background-image: url(../Images/bk.jpg);
    background-size: 1920px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

}
body * {
    font-family: Vazir;
    direction: rtl;
    text-align: right;

}

button {
    text-align: center;
    margin: auto;
    background: rgb(14, 108, 163);
}

.main {
    font-family: Vazir;
    text-align: center;

}
h1 {
    font-family: Lalezar;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 187, 0);
    font-weight: normal;
}

hr {
    margin-left: 40px;
    margin-right: 40px;
    background-color: aqua;
    height: 1px;
    border: none;

}

.main {
    text-align: center;
    margin-left: 700;
    margin-right: 700   ;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
